.cart-body {
    background-color: #f5f5f5;
}

.cart-detail {
    padding: 5px 20px;
    letter-spacing: 2px;
    border-bottom: 1px solid #E2E8F0;
}

.cart-body h1 {
    padding: 20px 0;
    text-align: center;
    border-bottom: 1px solid #e4dbec;
}

.cart-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 123px;
}

/* Payment styles */
.cart-detail, .cart-total {
    display: flex;
    justify-content: space-between;
}

.cart-infoo h3 {
    padding-top: 25px;
}

.cart-total h2 {
    padding: 5px 20px 30px 20px;
}

.cart-btnn {
    padding-top: 10px;
}

.cart-btnn button {
    width: 100%;
    margin: auto;
    color: azure;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: blue;
    border: none;
    padding: 12px 0;
    transition: all 0.3s ease;
    cursor: pointer;
}

.cart-btnn button:focus {
    transform: scale(1.04);
}