.review-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 30px 0;
}

.prod-review-control {
    flex-basis: 68%;
}

.cart-control {
    flex-basis: 30%;
}

@media (max-width: 768px) {
    .prod-review-control {
        flex-basis: 100%;
    }
    .cart-control {
        flex-basis: 100%;
    }
}

.hheader {
    padding: 20px 10px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #e4dbec;
}

.items {
    float: right;
}

.review-products {
    margin: 7px 0;
}

/* Empty content styles */
.empty-default {
    text-align: center;
}

.empty-default img {
    width: 30%;
    height: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.empty-default h1 {
    letter-spacing: 5px;
    margin-bottom: 10px;
}

.empty-default button {
    width: 250px;
    padding: 5px;
    border: none;
    color: dimgray;
    border: 1px solid #411868;
    background-color: thistle;
    font-size: 14px;
    letter-spacing: 5px;
}