.checkout-main {
    display: flex;
    flex-wrap: wrap;
    margin: 30px 0;
}

.prod-review-control {
    width: 70%;
    padding: 20px 20px 20px 12px;
}

.cart-control {
    width: 28.5%;
    height: 400px;
    margin-top: 20px;
}

.prod-review-control .hheader {
    padding: 20px 10px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #e4dbec;
}

.hheader .items {
    float: right;
}

.empty-default {
    text-align: center;
}

.empty-default img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 30%;
}

.empty-default h1 {
    letter-spacing: 5px;
    margin-bottom: 10px;
}

.empty-default button {
    width: 250px;
    padding: 5px;
    border: none;
    color: dimgray;
    border: 1px solid #411868;
    background-color:thistle;
    font-size: 14px;
    letter-spacing: 5px;
}

.empty-default button:hover {
    opacity: 50%;
}