.parent {
    position: relative;
    overflow: hidden;
    backface-visibility: hidden;
}

.child {
    display: none;
    position: absolute;
    top: 5%;
    left: 0;
    width: 220px;
    height: 170px;
    color: azure;
    letter-spacing: 3px;
    padding-top: 15%;
    text-align: center;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    animation: slidein 1s;
}

@keyframes slidein {
    from {
        transform: scaleX(0%);
    }
    to {
        transform: scaleX(100%);
    }
}

.parent:hover .child {
    display: block;
}