.categories-page {
    display: flex;
    flex-wrap: wrap;
    margin: 30px 0;
}

.sidebar-contents {
    display: block;
    flex-basis: 25%;
}

.products-contents {
    flex-basis: 75%;
}

/* Sidebar contents styles */
.sidebar-wrapper {
    height: auto;
    padding: 5px 10px 20px 10px;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
}

.dropdown-parent {
    font-size: 14px;
    font-weight: bold;
    color: dimgrey;
    letter-spacing: 2px;
    padding: 5px;
    margin: 10px 5px 10px 20px;
    list-style: circle;
}

.choose {
    color: #f7b0a4;
    float: right;
    vertical-align: middle;
}

.dropdown-parent:hover {
    cursor: pointer;
    color: tomato;
}

.dropdown-child {
    display: none;
    animation-name: slideInDown;
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes slideInDown {
    5% {
        transform: translateY(5%);
        visibility: visible;
    }
    100% {
        transform: translateY(0);
    }
}

.dropdown-parent:hover .dropdown-child {
    display: block;
}

.dropdown-child li {
    font-weight: normal;
    color: dimgrey;
    padding: 5px 0 5px 10px;
}

.dropdown-child li:hover {
    color: #66b1ee;
    background-color: #fff;
}

/* @media (height: 170px) {
    .sticky-sidebar {
        position: fixed;
        top: 0;
    }
} */

/* Categories products styles */
.products-contents h1 {
    padding: 20px 10px;
    margin-bottom: 10px;
    background-color: #f5f5f5;
}

.item {
    float: right;
}

.productt-box img {
    width: 160px;
    height: 100px;
}

.productt-box {
    padding: 5px;
    margin: 10px 0;
    background-color: #fff;
    box-shadow: 0 0 2px 0 #00000033;
}

.productt-box:hover {
    border-radius: 5px;
    animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes shadow-drop-2-center {
    0% {
        transform: translateZ(0);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
        transform: translateZ(50px);
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
}

/* Media Queries styles */
@media (max-width: 768px) {
    .sidebar-contents {
        display: none;
        flex-basis: 100%;
    }
    .products-contents {
        flex-basis: 100%;
    }
    .products-contents h1 {
        font-size: 16px;
    }
    .item {
        float: left;
    }
}