.collection-four-wrapper {
    width: 290px;
    margin: 9px;
    border: 1px solid #E2E8F0;
}

.collection-four img {
    width: 100%;
    height: 200px;
    padding: 20px 30px;
}

.collection-four h4 {
    padding: 10px;
    text-align: center;
}

.click-handler {
    cursor: pointer;
}