.collection-eight-wrapper {
    width: 195px;
    margin: 5px;
    border: 1px solid #e8e9eb;
    cursor: pointer;
}

.collection-eight {
    width: 195px;
    height: 150px;
    overflow: hidden;
}

.collection-eight img {
    width: 195px;
    height: 150px;
    padding: 20px 30px;
    transition: .5s ease;
    backface-visibility: hidden;
}

.collection-eight-wrapper:hover {
    box-shadow: 0 4px 8px 0 #00000033;
}

.collection-eight-wrapper:hover img {
    transform: scale(1.5);
}