.collection-eight-wrapper {
    margin: 10px 0 10px 8px;
    border: 1px solid #e8e9eb;
}

.collection-eight {
    overflow: hidden;
}

.collection-eight img {
    width: 191px;
    height: 150px;
    padding: 10px 20px;
}

.collection-eight-wrapper:hover {
    box-shadow: 0 4px 8px 0 #00000033;
}