.packages {
    padding: 15px 20px;
    margin-top: 30px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #E2E8F0;
    vertical-align: middle;
}

.review {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #f5f5f5;
}

.review-left {
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
}

.review-rigth {
    display: flex;
    padding: 15px 20px;
}

.product-image img {
    width: 150px;
    height: 100px;
    background-color: #fff;
}

.review-prod-info {
    font-weight: bold;
    padding: 6px 0;
    letter-spacing: 2px;
}

.prod-price {
    color: #db2804b9;
    margin-bottom: 10px;
}

.middle {
    text-align: center;
    padding: 0 40px;
}

.decrease, .increase, .delete {
    padding: 5px 18px;
    margin: 0 5px;
    font-size: 14px;
    border: none;
    border: 1px solid #eae7ec;
    background-color: transparent;
    font-weight: bold;
    vertical-align: middle;
    cursor: pointer;
}

.add:focus {
    background-color: green;
}

.ree:focus {
    background-color: red;
}

.decrease:hover, .increase:hover, .delete:hover {
    background-color: #eae7ec;
}

.decrease:focus, .increase:focus, .delete:focus {
    background-color: #fff;
}

.count {
    font-size: 18px;
    margin-left: 27px;
}

.review-wrapper {
    margin-top: -14px;
}

.review-wrapper:hover {
    box-shadow: 0 4px 8px 0 #00000033;
}