.review-container:hover {
    box-shadow: 0 4px 8px 0 #00000033;
}

.packages {
    padding: 15px 20px;
    margin-top: 15px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #E2E8F0;
}

.review {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #f5f5f5;
    padding: 15px;
}

.review-left {
    display: flex;
    flex-wrap: wrap;
}

.review-rigth {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.handle-checkout-btn {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.product-image img {
    width: 170px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.prod-info {
    padding: 6px 0;
}

.prod-price {
    color: #db2804b9;
    margin-bottom: 15px;
}

.middlee {
    display: flex;
    flex-direction: column;
    color: dimgrey;
    padding: 0 20px;
    letter-spacing: 2px;
    margin: 0 20px;
}

@media (max-width: 768px) {
    .middlee {
        font-size: 8px;
    }
    .review-rigth {
        margin: 10px 0 0 5px;
    }
    .prod-price {
        font-size: 13px;
    }
}

.lastt {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.count {
    font-size: 20px;
    text-align: center;
}

.decrease, .increase, .delete {
    padding: 5px 18px;
    margin: 0 10px 0 5px;
    font-size: 14px;
    border: none;
    border: 1px solid #eae7ec;
    background-color: transparent;
    font-weight: bold;
    vertical-align: middle;
    cursor: pointer;
}

.decrease:hover, .increase:hover, .delete:hover {
    background-color: #eae7ec;
}

.decrease:focus, .increase:focus, .delete:focus {
    background-color: #fff;
}