.shipment-page {
    margin-right: 3px;
    background-color: #f5f5f5;
}

.shipment-page h1 {
    padding: 20px 0 0 20px;
}

/* Default contents styles */
.shipping-form {
    display: none;
    padding-top: 10px;
}

.shipping-form input {
    width: 320px;
    padding: 10px;
    margin: 15px 50px;
    border: none;
    border: 1px solid #d3bce9;
    border-radius: 5px;
    background-color: transparent;
    transition: all 0.3s ease;
}

.shipping-form input:focus {
    outline: none;
    transform: scale(1.04);
}

.form-note {
    color: #a59e9e;
    font-size: 14px;
    padding: 5px 0;
    text-align: center;
    letter-spacing: 3px;
}

.form-api {
    display: block;
}

.shipping-form button, .form-api button {
    width: 100%;
    margin: auto;
    padding: 14px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    color: #f1e9e9;
    background-color: #fdbfb3b9;
    letter-spacing: 5px;
    border: none;
    cursor: not-allowed;
}

.form-message {
    display: none;
    color: red;
    animation: slidein 3s;
}

@keyframes slidein {
    from { transform: scaleX(0); }
    to { transform: scaleX(1); }
}

/* Hidden contents styles */
.form-api p {
    padding: 10px 20px;
    margin: 10px 0;
    background-color: transparent;
    font-size: 11px;
}

.form-api .iconss {
    color: dimgray;
    margin-right: 5px;
    vertical-align: middle;
}

.form-api .rights {
    float: right;
    color: blue;
    font-weight: bold;
    cursor: pointer;
}

.form-api .rights:hover {
    text-decoration: underline;
}

.rightSide {
    float: right;
    color: blue;
    font-weight: bold;
}