.collection-three-wrapper {
    margin-left: 3px;
    border: 1px solid #E2E8F0;
}

.collection-three img {
    width: 235px;
    height: 180px;
    padding: 20px 15px;
}

.collection-three h4 {
    padding: 10px;
    text-align: center;
}

.collection-three-wrapper:hover {
    box-shadow: 0 4px 8px 0 #00000033;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}