.product-detail-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 30px 0;
}

.products-details {
    flex-basis: 68%;
}

/* Colum no 03 styles */
.product-customer-info {
    flex-basis: 30%;
    font-size: 12px;
    margin-bottom: 10px;
}

.product-info {
    margin: 20px 0;
}

.product-features {
    margin: 20px 0;
}

/* Flex Layout: 02 */
.product-wrapper {
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
}

/* Products Images styles */
.big-photo img {
    width: 400px;
    height: 320px;
    padding-bottom: 5px;
    border-bottom: 1px solid #E2E8F0;
}

.small-photo img {
    width: 80px;
    height: 50px;
    margin-right: 25px;
    padding: 3px;
    cursor: pointer;
    border: 1px solid #E2E8F0;
}

.small-photo img:hover {
    border: 1px solid tomato;
}

@media (max-width: 768px) {
    .products-details {
        flex-basis: 100%;
    }
    .product-customer-info {
        flex-basis: 100%;
    }
    .big-photo img {
        width: 100%;
    }
}