.checkout-mains {
    display: flex;
    flex-wrap: wrap;
    margin: 50px 0;
}

.left-contents {
    width: 60%;
    margin: 0 20px 0 13px;
}

.left-contents .headerr {
    border-bottom: 1px solid #E2E8F0;
    background-color: #f5f5f5;
    padding: 20px;
}

.left-contents .items {
    float: right;
}

.right-contents {
    width: 35.7%;
    margin-bottom: 5px;
}