.checkout-mains {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 30px 0;
}

.left-contents {
    flex-basis: 68%;
    margin-bottom: 10px;
}

.right-contents {
    flex-basis: 30%;
}

@media (max-width: 768px) {
    .left-contents {
        flex-basis: 100%;
    }
    .right-contents {
        flex-basis: 100%;
    }
}

.left-contents .headerr {
    border-bottom: 1px solid #E2E8F0;
    background-color: #f5f5f5;
    padding: 20px;
}

.left-contents .items {
    float: right;
}