.shipment-page {
    background-color: #f5f5f5;
}

.shipment-page h1 {
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid #E2E8F0;
}

/* Default contents styles */
.shipping-form {
    display: none;
}

.main-forms {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 14px 0;
}

.shipping-form input {
    padding: 10px;
    margin: 10px 20px;
    border: none;
    border: 1px solid #e7dbf1;
    background-color: transparent;
    transition: all 0.3s ease;
}

.shipping-form input:focus {
    outline: none;
    transform: scale(1.04);
}

.form-api {
    display: block;
}

.shipping-form button, .form-api button {
    width: 100%;
    margin: auto;
    padding: 14px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: #f1e9e9;
    background-color: tomato;
    letter-spacing: 5px;
    border: none;
    cursor: not-allowed;
}

.form-message {
    display: none;
    color: red;
    text-align: center;
    animation: slidein 3s;
}

@keyframes slidein {
    from { transform: scaleX(0); }
    to { transform: scaleX(1); }
}

/* Hidden contents styles */
.form-api p {
    padding: 14.5px 20px;
    font-size: 14px;
}

.icons {
    color: dimgrey;
    margin-right: 5px;
    vertical-align: middle;
}

.rights {
    float: right;
    color: blue;
    cursor: pointer;
}

.rights:hover {
    text-decoration: underline;
}

.rightSide {
    float: right;
    color: blue;
    font-size: 14px;
}