.product-container {
    width: 195px;
    margin: 20px 5px 15px 0;
}

.product-img {
    width: 195px;
    height: 150px;
    padding: 20px;
    border: 1px solid #e8e9eb;
}

.prod-name {
    text-align: center;
    padding: 5px 10px; /* total character 22 */
    text-transform: uppercase;
}

.product-container:hover {
    box-shadow: 0 4px 8px 0 #00000033;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}