.collection-one-wrapper {
    margin: 10px 0 10px 8px;
}

.collection-one img {
    width: 193px;
    height: 150px;
    padding: 20px;
    border: 1px solid #e8e9eb;
}

.collection-one h4 {
    padding: 10px 5px;
    text-align: center;
}

.collection-one-wrapper:hover {
    box-shadow: 0 4px 8px 0 #00000033;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
