.collection-six-wrapper {
    width: 191.5px;
    margin: 10px 5px;
    cursor: pointer;
}

.collection-six img {
    width: 191.5px;
    height: 150px;
    padding: 20px;
    border: 1px solid #e8e9eb;
}

.collection-six h4 {
    padding: 10px 5px;
    text-align: center;
}

.collection-six-wrapper:hover {
    box-shadow: 0 4px 8px 0 #00000033;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
