.collection-five-wrapper {
    width: 241.5px;
    height: 225px;
    cursor: pointer;
    border: 1px solid #E2E8F0;
}

.collection-five img {
    width: 241.5px;
    height: 190px;
    padding: 25px 50px;
    transition: .5s ease;
    backface-visibility: hidden;
    vertical-align: middle;
}

.collection-five h4 {
    text-align: center;
}

.collection-five-wrapper:hover {
    box-shadow: 0 4px 8px 0 #00000033;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
