.main {
    margin: 50px 20px 10px 10px;
}

.main-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 0 20px 0;
    border-right: 1px solid #000;
}

.main-form input {
    width: 290px;
    padding: 10px;
    margin: 5px 10px 20px 0;
}