.form-main {
    padding: 100px 0;
}

.login-formm {
    color: azure;
    max-width: 700px;
    height: 350px;
    margin: auto;
    text-align: center;
}

.form-body h1 {
    font-size: 36px;
    padding: 20px 0 10px 0;
}