.form-main {
    padding: 100px 0;
    animation: slidein 1s;
}

@keyframes slidein {
    from {
        transform: scaleX(0%);
    }
    to {
        transform: scaleY(100%);
    }
}

.login-formm {
    color: azure;
    max-width: 700px;
    height: 335px;
    margin: auto;
    text-align: center;
}

.form-body h1 {
    font-size: 36px;
    padding: 20px 0 10px 0;
}